.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-title {
    margin: 0 0 1rem 0;
}

.table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        text-align: center;
        vertical-align: middle;
        padding: 0.5rem 0.625rem;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .image {
            width: 48px;
            height: auto;
        }
    }

    .button-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.add-new--container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.pager {
    margin: 12px 0;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
